@model IEnumerable<Portfolio.Models.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th>
            Subscribers
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.Raw(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag)
        </td>
        
        <td>
            @using (Html.BeginForm("Publish", "Blogs", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="@item.Id"/>
                <input type="hidden" name="Body" value="@item.Body" />
                <input type="hidden" name="Title" value="@item.Title" />
                <input type="hidden" name="Slug" value="@item.Slug"/>
                <input type="submit" value="Send!"/>
            }
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
            @Html.ActionLink("Details", "Details", new { slug = item.Slug }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
